In [ ]:
a=5
print("Iam",a,"years old")

Iam 5 years old

Operators

In [ ]:
#Airthmetic
a=5
b=25
print(a+b)
print(b//a)
print(b**a)

30
5
9765625

In [ ]:
#Power
print(2**5)

32

In [ ]:
#relational
a=6
b=6
print(a==b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)

True
False
False
True
True
False

In [ ]:
#logical
a=9
b=25
print((a>b)and(a<b)) #false and true
print((a>b)or(a<b)) #false or true
print(not((a>b)and(a<b)))#not(false)

False
True
True

In [ ]:
#membership
a="army"
print("a" not in a)
print("a" in a)

False
True

Looping Statements

In [ ]:
#for
n=int(input("enter a number:"))
for i in range(1,6):
  a=n*i
  print(a)

enter a number:6
6
12
18
24
30

In [ ]:
#while
n=int(input("enter a value:"))
a=int(input("enter the no. of steps:"))
i=1
while(i<=a):
  b=n*i
  i=i+1
  print(b)

enter a value:6
enter the no. of steps:4
6
12
18
24

control flow

In [ ]:
#conditional if
a=6
b=12
if(a!=b):
  print("true")

true

In [ ]:
#check whether given number is positive or negative
a=int(input("enter a value:"))
if(a>0):
  print(a, "is positive")
else:
  print(a, "is negative")

enter a value:42
42 is positive

In [ ]:
#check whether given number is positive or negative
a=int(input("enter a value:"))
if(a>0):
  print(a, "is positive")
elif(a==0):
  print(a, "is neither positive nor negative")
else:
  print(a,"is negative")

enter a value:0
0 is neither positive nor negative

knowing type of the value

In [ ]:
a=int(input("enter a number:"))
print(type(a))

enter a number:0
<class 'int'>

type conversion:implicit,explicit

In [ ]:
#implicit
x = 10
print("x is of type:",type(x))
y = 10.6
print("y is of type:",type(y))
z = x + y
print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

In [ ]:
#explicit
num_string = '12'
num_integer = 23
print("Data type of num_string before Type Casting:",type(num_string))
num_string = int(num_string)
print("Data type of num_string after Type Casting:",type(num_string))
num_sum = num_integer + num_string
print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Data type of num_string before Type Casting: <class 'str'>
Data type of num_string after Type Casting: <class 'int'>
Sum: 35
Data type of num_sum: <class 'int'>

Data slicing

In [ ]:
a="python is easy"
print(a[::-1])
print(a[::2])

ysae si nohtyp
pto ses

Type Casting

Collections:set,tuple,dictionary,list
list:
- collection of elements
- heterogenous
- append
- mutable(modifiable)

In [ ]:
b = [34,"killer",90.8,45]
for i in b:
  print(i)

34
killer
90.8
45

In [ ]:
a=[9,4,"vasavi",13.06]
for i in a:
  print(i)

9
4
vasavi
13.06

In [ ]:
a=[94,"vasavi",13.06]
a.append(8)
print(a)

[94, 'vasavi', 13.06, 8]

In [ ]:
a=[94,"vasavi",13.06,8]
a.insert(2,"hi")
a.insert(3,"hello")
print(a)

[94, 'vasavi', 'hi', 'hello', 13.06, 8]

In [ ]:
a.extend(b)
print(a)

[94, 'vasavi', 'hi', 'hello', 13.06, 8, 34, 'killer', 90.8, 45]

In [ ]:
a=[94,"vasavi",13.06,8]
a.pop(2)
print(a)

[94, 'vasavi', 8]

In [ ]:
b.remove("killer")
print(b)

[34, 90.8, 45]

In [ ]:
c=[1,12,13,23,13]
print(max(c))
print((min(c)))

23
1

list comprehension
- iterates
- applied to some function on every element
- conditions
- output : list

In [ ]:
a=[13,23,94,4]
b=[i**2 for i in a] #output iteration
print(b)
c=[i**2 for i in a if i>=50] #condition output iteration
print(c)

[169, 529, 8836, 16]
[8836]

#the salaries of 5 employees in a company is taken in a list. the tax is 10% if the salary is less than or equal to 50000 or it is 15%
creating a list with salaries
[67000,45000,89000,34000,50000]
list_name=[(body of if) (condition) else (body of else) iteration]

In [ ]:
l1=[67000,45000,89000,34000,50000]
tax=[]
for i in l1:
  if i<=50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#using list comprehension
#list_name=[(body of if) if (condition) else (body of else) iteration]
l1=[67000,45000,89000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in l1]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]